<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the  
    web admin tool to configure settings for your application. Use 
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in     
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config   
    Portal Servicios Electronicos - Desarrollo - 10.0.3.125
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="Sigss.Clasificadores.Geograficos" type="Sigss.Clasificadores.GeograficosProviderConfiguration, Sigss.Core" requirePermission="false" allowDefinition="MachineToApplication"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e6018ffd67131810"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e6018ffd67131810"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Sigss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="WebPx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="WebPx.Membership" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<section name="DbConnectionManager" type="Kishore.Sql.DbConfigurationHandler,KishoreSql"/>
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="Sibfa.Bodegas.Catalogos" type="Sibfa.Bodegas.CatalogosProviderConfiguration, Sibfa.Core" requirePermission="false" allowDefinition="MachineToApplication"/>
		<section name="Sibfa.Bodegas.Inventarios" type="Sibfa.Bodegas.InventariosProviderConfiguration, Sibfa.Core" requirePermission="false" allowDefinition="MachineToApplication"/>
		<section name="Sibfa.Farmacias.Prescripciones" type="Sibfa.Farmacias.PrescripcionesProviderConfiguration, Sibfa.Core" requirePermission="false" allowDefinition="MachineToApplication"/>
		<section name="Sigmc.MedicosCabecera.Catalogos" type="Sigmc.MedicosCabecera.CatalogosProviderConfiguration, Sigmc.Core" requirePermission="false" allowDefinition="MachineToApplication"/>
		<section name="Sigmc.MedicosCabecera.RecetaElectronica" type="Sigmc.MedicosCabecera.RecetaElectronicaProviderConfiguration, Sigmc.Core" requirePermission="false" allowDefinition="MachineToApplication"/>
	</configSections>
	<!--encripcion de la seccion de conexion a base de datos-->
	<configProtectedData>
		<providers>
			<add name="ProveedorEncripcionIgss" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,&#xA;                    Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,&#xA;                    processorArchitecture=MSIL" keyContainerName="LlavesIgss" useMachineContainer="true"/>
		</providers>
	</configProtectedData>
	<Sigss.Clasificadores.Geograficos defaultProvider="Sigss.Clasificadores.GeograficosWs">
		<providers>
			<add name="Sigss.Clasificadores.GeograficosWs" type="Sigss.Clasificadores.GeograficosWsProvider, Sigss.Remoto" description="Conexion a Capa Media" url="http://10.0.3.123/Clasificadores/Geograficos.asmx"/>
		</providers>
	</Sigss.Clasificadores.Geograficos>
	<Sibfa.Bodegas.Catalogos defaultProvider="Sibfa.Bodegas.CatalogosWsProvider">
		<providers>
			<add name="Sibfa.Bodegas.CatalogosWsProvider" type="Sibfa.Bodegas.CatalogosWsProvider, Sibfa.Remoto" description="Configuracin de Catalogos de Medicos de Cabecera" url="http://10.0.3.123/Sibfa/Bodegas/Catalogos.asmx"/>
		</providers>
	</Sibfa.Bodegas.Catalogos>
	<Sibfa.Bodegas.Inventarios defaultProvider="Sibfa.Bodegas.InventariosWsProvider">
		<providers>
			<add name="Sibfa.Bodegas.InventariosWsProvider" type="Sibfa.Bodegas.InventariosWsProvider, Sibfa.Remoto" description="Configuraci?n de Catalogos de Medicos de Cabecera" url="http://10.0.3.123/Sibfa/Bodegas/Inventarios.asmx"/>
		</providers>
	</Sibfa.Bodegas.Inventarios>
	<Sibfa.Farmacias.Prescripciones defaultProvider="Sibfa.Farmacias.PrescripcionesWsProvider">
		<providers>
			<add name="Sibfa.Farmacias.PrescripcionesWsProvider" type="Sibfa.Farmacias.PrescripcionesWsProvider, Sibfa.Remoto" description="Configuraci?n de Catalogos de Medicos de Cabecera" url="http://10.0.3.123/Sibfa/Farmacias/Prescripciones.asmx"/>
		</providers>
	</Sibfa.Farmacias.Prescripciones>
	<Sigmc.MedicosCabecera.Catalogos defaultProvider="Sigmc.MedicosCabecera.CatalogosWsProvider">
		<providers>
			<add name="Sigmc.MedicosCabecera.CatalogosWsProvider" type="Sigmc.MedicosCabecera.CatalogosWsProvider, Sigmc.Remote" description="Configuraci?n de Catalogos de Medicos de Cabecera" url="http://10.0.3.123/Sigmc/MedicosCabecera/Catalogos.asmx"/>
		</providers>
	</Sigmc.MedicosCabecera.Catalogos>
	<Sigmc.MedicosCabecera.RecetaElectronica defaultProvider="Sigmc.MedicosCabecera.RecetaElectronicaWsProvider">
		<providers>
			<add name="Sigmc.MedicosCabecera.RecetaElectronicaWsProvider" type="Sigmc.MedicosCabecera.RecetaElectronicaWsProvider, Sigmc.Remote" description="Configuraci?n de Receta Electronica de Medicos de Cabecera" url="http://10.0.3.123/Sigmc/MedicosCabecera/RecetaElectronica.asmx"/>
		</providers>
	</Sigmc.MedicosCabecera.RecetaElectronica>
	<connectionStrings>
		<add name="IgssClasificadores" connectionString="Data Source=DESAIGSS;User Id=sigss;Password=desarrollo;" providerName="System.Data.OracleClient"/>
		<add name="SIGSS" connectionString="Data Source=DESAIGSS;User Id=SIGSS;Password=DESARROLLO;" providerName="System.Data.OracleClient"/>
		<add name="SIRG" connectionString="Data Source=DESAIGSS;User Id=SIRG;Password=DESARROLLO;" providerName="System.Data.OracleClient"/>
	</connectionStrings>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Cache Manager"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Paises"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Municipios"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Departamentos"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e6018ffd67131810" name="Null Storage"/>
		</backingStores>
	</cachingConfiguration>
	<DbConnectionManager>
		<!-- DATA -->
		<ConnectionPool name="OraclePool">
			<DriverClass>Kishore.Sql.OleDb.Driver</DriverClass>
			<ConnectionString>Provider=OraOLEDB.Oracle;UseSessionFormat=1;OLEDB.NET=true;user id=sigss;data source=desaigss;password=desarrollo</ConnectionString>
			<MinimunConnections>2</MinimunConnections>
			<MaximumConnections>4</MaximumConnections>
			<ConnectionTimeout>120</ConnectionTimeout>
			<ConnectionReaperDelay>1800</ConnectionReaperDelay>
		</ConnectionPool>
		<!-- METADATA -->
		<ConnectionPool name="PoolMetaData">
			<DriverClass>Kishore.Sql.OleDb.Driver</DriverClass>
			<ConnectionString>Provider=OraOLEDB.Oracle;UseSessionFormat=1;OLEDB.NET=true;user id=mdsigssdesa;data source=desaigss;password=mdsigssdesa</ConnectionString>
			<MinimunConnections>2</MinimunConnections>
			<MaximumConnections>4</MaximumConnections>
			<ConnectionTimeout>120</ConnectionTimeout>
			<ConnectionReaperDelay>1800</ConnectionReaperDelay>
		</ConnectionPool>
		<ConnectionPool name="PoolRUAP">
			<DriverClass>Kishore.Sql.OleDb.Driver</DriverClass>
			<ConnectionString>Provider=OraOLEDB.Oracle;UseSessionFormat=1;OLEDB.NET=true;user id=ruap;data source=desaigss;password=ruapfase1</ConnectionString>
			<MinimunConnections>1</MinimunConnections>
			<MaximumConnections>4</MaximumConnections>
			<ConnectionTimeout>120</ConnectionTimeout>
			<ConnectionReaperDelay>1800</ConnectionReaperDelay>
		</ConnectionPool>
		<ConnectionPool name="PoolSISS">
			<DriverClass>Kishore.Sql.OleDb.Driver</DriverClass>
			<ConnectionString>Provider=OraOLEDB.Oracle;UseSessionFormat=1;OLEDB.NET=true;user id=siss;data source=desaigss;password=siss</ConnectionString>
			<MinimunConnections>1</MinimunConnections>
			<MaximumConnections>4</MaximumConnections>
			<ConnectionTimeout>120</ConnectionTimeout>
			<ConnectionReaperDelay>1800</ConnectionReaperDelay>
		</ConnectionPool>
		<ConnectionPool name="PoolLBTR">
			<DriverClass>Kishore.Sql.OleDb.Driver</DriverClass>
			<ConnectionString>Provider=OraOLEDB.Oracle;UseSessionFormat=1;OLEDB.NET=true;user id=siss;data source=desaigss;password=siss</ConnectionString>
			<MinimunConnections>1</MinimunConnections>
			<MaximumConnections>4</MaximumConnections>
			<ConnectionTimeout>120</ConnectionTimeout>
			<ConnectionReaperDelay>1800</ConnectionReaperDelay>
		</ConnectionPool>
	</DbConnectionManager>
	<applicationSettings>
		<Sigss.Properties.Settings>
			<setting name="Clasificadores_Departamentos" serializeAs="String">
				<value>WS</value>
			</setting>
			<setting name="Clasificadores_Municipios" serializeAs="String">
				<value>WS</value>
			</setting>
			<setting name="Clasificadores_Paises" serializeAs="String">
				<value>WS</value>
			</setting>
			<setting name="Igss_DataAccessLayer_DepartamentosWS_Departamentos" serializeAs="String">
				<value>http://10.0.3.123/Clasificadores/Departamentos.asmx</value>
			</setting>
			<setting name="Igss_DataAccessLayer_MunicipiosWS_Municipios" serializeAs="String">
				<value>http://10.1.1.16/IgssMiddleTier/Clasificadores/Municipios.asmx</value>
			</setting>
			<setting name="Sigss_DataAccessLayer_PaisesWS_Paises" serializeAs="String">
				<value>http://10.1.1.16/SigssMiddleTier/Clasificadores/Paises.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planilla_Planillas_Planillas" serializeAs="String">
				<value>http://10.0.3.123/Planilla/Planillas.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_RUAP_Patronos_ServicioPatronos" serializeAs="String">
				<value>http://10.0.3.123/RUAP/Patronos/ServicioPatronos.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planilla_CalendariosDePagos_CalendariosDePagos" serializeAs="String">
				<value>http://10.0.3.123/Planilla/CalendariosDePagos.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planilla_CentrosDeTrabajoPorArchivo_CentrosDeTrabajoPorArchivo" serializeAs="String">
				<value>http://10.0.3.123/Planilla/CentrosDeTrabajoPorArchivo.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planilla_ErroresPlanillas_ErroresPlanillas" serializeAs="String">
				<value>http://10.0.3.123/Planilla/ErroresPlanillas.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planilla_TiposPlanillas_TiposPlanillas" serializeAs="String">
				<value>http://10.0.3.123/Planilla/TiposPlanillas.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planilla_Liquidaciones_Liquidaciones" serializeAs="String">
				<value>http://10.0.3.123/Planilla/Liquidaciones.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planillas_TasaActivaBancos_TasaActivaBancos" serializeAs="String">
				<value>http://10.0.3.123/Planilla/TasaActivaBancos.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planilla_LiquidacionesDetallesEmpleados_LiquidacionesDetallesEmpleados" serializeAs="String">
				<value>http://10.0.3.123/Planilla/LiquidacionesDetallesEmpleados.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planilla_LiquidacionesEmpleadosProgramas_LiquidacionesEmpleadosProgramas" serializeAs="String">
				<value>http://10.0.3.123/Planilla/LiquidacionesEmpleadosProgramas.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planilla_LiquidacionesDetallesPatronos_LiquidacionesDetallesPatronos" serializeAs="String">
				<value>http://10.0.3.123/Planilla/LiquidacionesDetallesPatronos.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Planilla_PagosPlanillas_PagosPlanillas" serializeAs="String">
				<value>http://10.0.3.123/Planilla/PagosPlanillas.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Recaudacion_DiasFestivos_DiasFestivos" serializeAs="String">
				<value>http://10.0.3.123/Recaudacion/DiasFestivos.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Recaudacion_Pagos" serializeAs="String">
				<value>http://10.0.3.123/Recaudacion/Pagos.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_MiddleTier_Servicio_wsMiddleTier" serializeAs="String">
				<value>http://10.0.3.122/wsmiddletier/wsMTService.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Reportes_Ejecucion_ReportExecutionService" serializeAs="String">
				<value>http://10.0.3.68/ReportServer/ReportExecution2005.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_RUAP_AfiliacionesRelacionadas_AfiliacionesRelacionadas" serializeAs="String">
				<value>http://10.0.3.123/RUAP/Afiliados/AfiliacionesRelacionadas.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Recaudacion_ExoneracionMensual_ExoneracionMensual" serializeAs="String">
				<value>http://10.1.1.16/SigssMiddleTier/Recaudacion/ExoneracionMensual.asmx</value>
			</setting>
			<setting name="Sigss_WebReferences_Autenticacion_Membresias_Membresias" serializeAs="String">
				<value>http://10.0.3.123/Autenticacion/Membresias.asmx</value>
			</setting>
		</Sigss.Properties.Settings>
		<WebPx.Properties.Settings>
			<setting name="WebPx_Core_WSMembership_Membership" serializeAs="String">
				<value>http://10.0.3.123/Autenticacion/Membership.asmx</value>
				<!--<value>http://10.1.1.16/IgssMiddleTier/Autenticacion/Membership.asmx</value>-->
			</setting>
			<setting name="WebPx_Core_WSMembership_Roles" serializeAs="String">
				<value>http://10.0.3.123/Autenticacion/Roles.asmx</value>
				<!--value>http://10.1.1.16/IgssMiddleTier/Autenticacion/Roles.asmx</value-->
			</setting>
			<!--<setting name="WebPx_Core_WSMembership_Membership" serializeAs="String">
        <value>http://10.1.1.16/Membership/Membership.asmx</value>        
      </setting>-->
			<setting name="WebPx_Core_WSRoles_Roles" serializeAs="String">
				<!--<value>http://10.1.1.16/Membership/Roles.asmx</value>-->
				<!--value>http://10.1.1.16/IgssMiddleTier/Autenticacion/Roles.asmx</value-->
				<value>http://10.0.3.123/Autenticacion/Roles.asmx</value>
			</setting>
			<setting name="PerformanceCountersEnabled" serializeAs="String">
				<value>False</value>
			</setting>
		</WebPx.Properties.Settings>
	</applicationSettings>
	<appSettings>
		<!-- Parametros Sitio -->
		<add key="Offline" value="False"/>
		<add key="Ambiente" value="DESARROLLO"/>
		<add key="AmbienteReportes" value="DESARROLLO"/>
		<add key="siteName" value="Instituto Guatemalteco de Seguridad Social"/>
		<add key="appOnline" value="~/Sistema/default.aspx"/>
		<add key="appLogout" value="~/logout.aspx"/>
		<add key="homePage" value="~/default.aspx"/>
		<!-- Conexiones -->
		<add key="RUAPConnection" value="OracleServices"/>
		<!-- File System -->
		<add key="PathRecarnetizacion" value="C:\SIGSS\FILES\RECARNETIZACION\"/>
		<!-- WebServices -->
		<add key="WsReportes.ReportExecution2005" value="http://10.0.3.68/ReportServer/ReportExecution2005.asmx"/>
		<!--WEB SERVICE QUE ENVIA MENSAJE A LA COLA DE VALIDACION MASIVA-->
		<add key="WSEnviarMensaje.Service" value="http://10.0.3.27/EnviarMensaje/Service.asmx"/>
		<!--<add key="WsReportes.ReportExecution2005" value="http://10.1.1.45/ReportServer/ReportExecution2005.asmx"/>-->
		<add key="Igss.RUAP.Afiliados.Afiliados" value="http://10.1.1.16/IgssMiddleTier/RUAP/Afiliados.asmx"/>
		<add key="Igss.RUAP.Patronos.Patronos" value="http://10.1.1.16/IgssMiddleTier/RUAP/Patronos.asmx"/>
		<add key="Igss.Planilla.PatronosBanco.PatronoBancoServicio" value="http://10.1.1.16/IgssMiddleTier/Planilla/PatronoBancoServicio.asmx"/>
		<add key="Igss.RUAP.AfiliadosAS400.AfiliadosAS400" value="http://10.1.1.16/IgssMiddleTier/RUAP/AfiliadosAS400.asmx"/>
		<add key="Igss.PagoRecibo.PagoRecibo" value="http://servicios.igssgt.org/WServices/DesaPagosRecibos/PagoRecibo.asmx"/>
		<!-- Reporting Services -->
		<add key="Reports" value="USR_REPORTES:whfa1600@SRVIGSSDESA01"/>
		<!--<add key="Reports" value="USR_REPORTES:ssgis@SERVER_APLICACO"/>-->
		<add key="ReportServer" value="http://10.0.3.68/reportserver"/>
		<!-- Emails -->
		<add key="EmailSoporte" value="soporte@igssgt.org"/>
		<add key="SmtpServer" value="10.1.1.10"/>
		<!-- Conexiones -->
		<!-- Agregado por ronald 17 julio 2008 -->
		<add key="RUAPConnection" value="SIGSS"/>
		<add key="ConexionBanca" value="SIRG"/>
		<add key="ConexionPlanilla" value="SIRG"/>
		<add key="ConexionRecaudacion" value="SIRG"/>
		<add key="ConexionClasificadores" value="SIRG"/>
		<add key="ConexionPlanilla" value="SIRG"/>
		<!-- Rol con el cual debe de conectarse GUATENOMINAS para consumir web service de consulta de afiliados -->
		<add key="role_ws_guatenominas" value="ruap ws consulta afiliados"/>
		<!-- Rol con el cual deben de conectarse para consumir el Web Service de Consulta de Afiliados -->
		<add key="Recau_ConsultaAfiliado" value="patronos.planilla"/>
		<add key="wsMtReports.ReportExecution2005" value="http://10.0.3.68/ReportServer/ReportExecution2005.asmx"/>
		<add key="WsMtService.wsMTService" value="http://localhost/wsMiddleTier/wsMTService.asmx"/>
	<add key="org.igssgt.pruebas.WSMediConsulta" value="http://pruebas.igssgt.org/wservices/WSMediCitasConsulta/WSMediConsulta.asmx"/>
	</appSettings>
	<system.web>
		<pages theme="Igss2" styleSheetTheme="Igss2" enableEventValidation="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="Microsoft.Build.Framework, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Tasks, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Utilities, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="sysglobl, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Serialization.Formatters.Soap, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="WebPx.Core, Version=1.0.1.0, Culture=neutral, PublicKeyToken=e6e4de9ebf723654"/>
				<add assembly="WebPx.Web, Version=1.0.1.0, Culture=neutral, PublicKeyToken=e6e4de9ebf723654"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--todo lo relacionado con crystal reports-->
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<!--<add assembly="Infragistics.WebUI.WebHtmlEditor.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>-->
				<!--<add assembly="Infragistics.Win.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>-->
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name="Igss" defaultUrl="~/Sistema/Default.aspx">
			</forms>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off"/>
		<membership defaultProvider="AspNetWSMembershipProvider">
			<providers>
				<add name="AspNetWSMembershipProvider" type="WebPx.Security.WebService.WSMembershipProvider, WebPx.Core, Version=1.0.1.0, Culture=neutral, PublicKeyToken=e6e4de9ebf723654" description="WebPx WebService Authentication Proxy" applicationName="/Igss" servicePointUrl="http://10.0.3.123/Autenticacion/Membership.asmx"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="AspNetWSRoleProvider">
			<providers>
				<add name="AspNetWSRoleProvider" type="WebPx.Security.WebService.WSRoleProvider, WebPx.Core, Version=1.0.1.0, Culture=neutral, PublicKeyToken=e6e4de9ebf723654" description="WebPx WebService Role Proxy" servicePointUrl="http://10.0.3.123/Autenticacion/Roles.asmx"/>
			</providers>
		</roleManager>
		<siteMap>
			<providers>
				<clear/>
				<add siteMapFile="web.sitemap" name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<webParts enableExport="true">
			<personalization>
				<authorization>
					<allow users="jlchavez" verbs="enterSharedScope"/>
				</authorization>
			</personalization>
		</webParts>
		<profile defaultProvider="AspNetOracleProfileProvider">
		</profile>
		<xhtmlConformance mode="Strict"/>
		<!--trace enabled="false" pageOutput="true" requestLimit="100"/-->
		<globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="es-GT" uiCulture="es-GT"/>
		<!--<identity impersonate="true" userName="jlchavez" password="" />-->
		<webServices>
			<soapExtensionImporterTypes>
				<add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</soapExtensionImporterTypes>
		</webServices>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,POST,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
		<authorization>
			<allow users="*"/>
		</authorization>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.webServer>
	<!--<location path="login.aspx">
    <appSettings>
      <add key="SSLRedirect" value="true"/>
    </appSettings>
  </location>-->
	<microsoft.web.services3>
		<policy fileName="wse3policyCache.config"/>
		<security>
			<timeToleranceInSeconds value="84600"/>
		</security>
	</microsoft.web.services3>
	<system.net>
		<mailSettings>
			<smtp from="soporteplanilla@igssgt.org" deliveryMethod="Network">
				<network host="mail.igssgt.org" port="25" userName="usuarioplanilla@igssgt.org" password="Modernizacion10"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
